@font-face {
    font-family: myFontBMW;
    src: url(BMWTypeNext\ Pro.ttf);
  }
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFontBMW, Arial, Helvetica, sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    

    background-color: transparent;
}
.nav-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-1 >ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-1 >ul >li{
    list-style: none;
    padding-left: 20px;
    font-size: 15px;
}
.nav-2 >ul{
    display: flex;
    padding-left: 10px;
    
}
.nav-2 >ul>li{
    display: flex;
    padding: 15px;
}
.bottom-border{
    height: 2px ;
    background-color: #fff;
    width: 100%;
}
.section-1{
    width: 100%;
    height: 113vh;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    z-index: 1;
    color: white;
    box-shadow: inset 300px 70px  200px -45px rgb(0, 0, 0);
    
}
video{
    position: relative;
    
}
.img-para{
   height: 80vh;
  
    display: flex ;
    flex-direction: column;
    justify-content: end;
    
}

button{
    background-color: #1c69d4;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 18px 30px 18px 30px;
    border-radius: 5px;
}
.branding >.number{
    font-size: 200px;
    margin: 0px;
}
.branding >p{
    padding: 5px;
    /* border: 1px solid red; */
}


